_ReSharper*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
obj/
[Tt]est[Rr]esult*
[Pp]ackages/

# Ignore leftover merge files
*~HEAD

# Ignore unimportant file extensions (binaries, user prefs, etc.)
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.docstates